<h1>Hi WordCount</h1>

<a href="{% url 'about' %}">About</a>

<form action="{% url 'count' %}">
    <textarea cols="60" rows="15" name="fulltext"></textarea>

    <br>

    <input type="submit" value="Count!"   />
</form>

<form action="{% url 'sign_up' %}">

比赛报名入口

    <input type="submit" value="前往" />
</form>

<form action="{% url 'sign_up_game_02' %}">
  姓名:  <br>
  <input type="text" name="name" >
  <br>
  Last name:<br>
  <input type="text" name="age" >
  <br><br>
  <input type="submit" value="Submit">
</form>