<h1>比赛报名</h1>


<form action="{% url 'sign_up_game_02' %}">
  姓名:<p>   </p>
  <input type="text" name="name" >
  <br><br>
  年龄:<p>   </p>
  <input type="text" name="age" >
  <br><br>
  性别:<p>   </p>
  <input type="text" name="age" >
  <br><br>
  级别/段位:<p>   </p>
  <input type="text" name="age" >
  <br><br>
  身份证号：<p>   </p>
  <input type="text" name="age" >
  <br><br>
  所属道场：<p>   </p>
  <input type="text" name="age" >
  <br><br>
  负责教练员：<p>   </p>
  <input type="text" name="age" >
  <br><br>
  <input type="submit" value="Submit">
</form>